button {
    border: none;
    background-color: turquoise;
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-radius: 12px;
    outline: none;
}

button:hover {
    background-color: aquamarine;
}

.equals {
    grid-column: 3 / 5;
    background-color: blueviolet;
}

.equals:hover {
    background-color: blue;
}